html, body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.container {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-direction: row;
    padding-left: 32px;
    margin-bottom: 32px;
}

.draggable-item {
    border: 1px dashed #ccc;
    border-radius: 10px;
    margin-bottom: 24px;
    width: 112px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-family: sans-serif;
}

.draggable-item.red {
    background-color: #f24726;
}

.draggable-item.green {
    background-color: #0ca788;
}

.image-box img {
    max-width: 112px;
    max-height: 112px;
    cursor: pointer;
}

.container {
  display: none;
}

:target {
  display: flex;
  justify-content: space-around;
  max-height: calc(100vh - 32px);
}

.nav{
  padding: 0 10px 5px 10px;
  height: 32px;
  display: flex;
  align-items: center;
  background-color: #ececec;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav a {
    margin: 10px;
}

.nav a:hover {
    font-weight: bold;
}

a:link {
  text-decoration: none;
}
